* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desaturated-blue: hsl(243, 87%, 12%);
  --accent-bright-blue: hsl(224, 93%, 58%);
  --accent-light-blue: hsl(224, 45%, 58%);
  --accent-moderate-cyan: hsl(170, 45%, 43%);
  --neutral-light-grayish-blue: hsl(240, 75%, 98%);
  --neutral-light-gray: hsl(0, 0%, 75%);
}

@import url("https://fonts.google.com/specimen/Raleway");
@import url("https://fonts.google.com/specimen/Open+Sans");

html,
body,
p, 
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 17%);
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  display: inline-block;
}
 

ul {
  list-style: none;
}

img,
video {
  width: 100%;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.text-capital {
  text-transform: uppercase;
}

.btn   {
	width: 200px;
	display: inline-block;
	background: var(--accent-bright-blue);
	text-align: center;
	text-transform: capitalize;
	height: 42px;
	padding: 12px 20px;
	color: var(--neutral-light-grayish-blue);
    border: none;
    font-weight: 700;
    transition: background 0.3s ease-in-out; 
}

.btn:hover {
  background: var(--accent-moderate-cyan);
  color: var(--neutral-light-grayish-blue);
}

input:focus {
    outline: none;
}

.title {
  text-transform: capitalize;
    font-size: 3.5rem;
    line-height: calc(2.5rem * 1.5 ); 
    color: var(--primary-desaturated-blue);
}

 .sub-title {
	font-size: 1.5rem;
	line-height: calc(1.5rem * 1.5 );
	color: var( --primary-desaturated-blue );
	margin: 10px 0;
}

.lead {
  font-size: 1.5rem;
  line-height: calc(1.5rem * 1.5 );
  color: var(--primary-desaturated-blue);
}

.fs-1 {
  font-size: 1rem;
}

.fs-15 {
  font-size: 1.5rem;
}

.fs-2 {
  font-size: 2rem;
}



.mt-1 {
  margin-top: 1rem;
}


.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-0-5 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.w-50 {
  width: 50%;
}

.grid {
  display: grid;
} 

.column-2 {
   grid-template-columns: repeat(2, 1fr);
   
}
.column-4 {
  grid-template-columns: repeat(4, 1fr);
}
.items-center {
  align-items: center;
}
.gap-2 {
  grid-gap: 2rem;
}

.gap-1 {
  grid-gap: 1rem;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}


.align-center {
  align-items: center;
}

.flex-gap {
  gap: 1px 0;
}


.bg-curve {
  margin: 0;
}


.bg-curve .curve.mobile {
  display: none;
}

input:focus{
  outline: none;
}
.control   {
	width: 100%;
	padding: 1rem 1.2rem;
	border-radius: 5px;
	border: 2px solid var(--neutral-light-grayish-blue);
	color: gray;
	margin-bottom: 3px;
}

/*Header*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
  height: 100px;
   
}


.navbar .navbar_logo img {
  width: 200px;
  object-fit: cover;
}


.navbar .navbar_links {
	display: flex;
	gap: 20px;
	align-items: center;
}

.navbar_links a {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 400;
}


/* hero */
 






/* about */
.about {
  background: var( --neutral-light-grayish-blue);
  margin: 0;;
}
 
.about .icon {
	width: 12px;
}
.about .about_content_left .link {
  color: var(--accent-moderate-cyan) ;
  font-size: 1.2rem;
  text-decoration: underline;
}
.about .testimonial  .quotes{
	width: 12px;
}



.testimonial {
  margin-top: 50px;
  padding: 1.5rem 2.4rem;
  box-shadow: 1px 1px 20px rgba(53, 55, 55, 0.3);
  width: 50%;
}

.testimonial .author img{
	width: 65px;
  clip-path: circle();
  margin-right: 1rem;
	object-fit: cover;
}


.access{
  background-color: var(--accent-light-blue);
}
.access_content_left {
  flex-basis: 35%;
}
.access_content_right {
  flex-basis: 40%;
}
.access_content_left .title, .access_content_left .sub-title {
  color: hsl(0, 0%, 100%);
}

/* footer  */
.footer {
  background: var(  --primary-dark-blue);
   color: hsl(0, 0%, 100%);
}
.footer .logo   {
  width: 150px;
  object-fit: cover;
  margin: 15px 0;
}

.footer .fonter_wrapper img    {
	width: 24px;
}

.fonter_wrapper a, .fonter_wrapper p {
  color: var(--neutral-light-grayish-blue);
}