/* @media screen and (max-width: 1440px) {
  body {
    background: red;
  }

 
} */

@media screen and (max-width: 1200px) {
  

  .container {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }

  .title {
	font-size: 2.5rem;
}


  .access_content_left {
	flex-basis: 45%;
}

  .footer.title {
    font-size: 2.5rem;
  }
  .footer_wrapper_contact .text {
    font-size: 1.6rem !important;
  }
}

@media screen and (max-width: 992px) {
  
  .container {
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
  }
  .navbar .navbar_logo img {
	width: 152px;
	object-fit: cover;
}

  .title {
	font-size: 2.9rem;
	line-height: 40px;
}

.sub-title {
	font-size: 1.3rem;
 
}

.btn {
	width: 100%;
}

.column-2 {
	grid-template-columns: repeat(2, 1fr);
}

.access_content_left {
	flex-basis: 51%;
}

.about .title  {
	font-size: 1.9rem;
	line-height: 40px;
}

.testimonial {
 
	width: 100%;
}




.column-4 {
	grid-template-columns: repeat(2, 1fr);
}





  .footer_wrapper_contact .text {
    font-size: 1.6rem !important;
  }

    
}

@media screen and (max-width: 768px) {
   

  .navbar .navbar_logo img {
	width: 90px;
	object-fit: cover;
}
.title {
	font-size: 3.5rem;
	line-height: 38px;
}
.flex {
 	flex-direction: column;
}

.column-4 {
	grid-template-columns: repeat(1, 1fr);
}

.footer .footer_wrapper_contact div {
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer_wrapper_social {
    display: none;
}

.footer .footer_wrapper_links  {
    margin-top: 50px;
}

}

@media screen and (max-width: 576px) {
  
  .title {
	font-size: 1.5rem;
	line-height: 24px;
}
.navbar .navbar_logo img {
	width: 80px;
	object-fit: cover;
}
.navbar_links a {
	font-size: 1.2rem;
}

.hero .hero_left {
    width: 100%;
}
.hero .hero_left_right {
	margin-top: 23px;
}

.column-2 {
    grid-template-columns: repeat(1, 1fr);
}
.about .about_content_right {
	margin-top: 55px;
}

.footer .logo {
	width: 95px;
	object-fit: cover;
	margin: 0;
}

.fs-2 {
	font-size: 1rem;
}

}


